


.att10-parent {
  position: absolute;
  top: 113px;
  left: calc(50% - 644px);
  width: 1288px;
  height: 437px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  font-size: 20px;
  color: #befc13;
  font-family: "Inria Serif";
}