.desktop-1-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 1440px;
    height: 1024px;
}
.group-rafting-seagenerative-ai-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 961px;
    object-fit: cover;
}
.desktop-1-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6),
        rgba(2, 2, 2, 0.3) 24.5%,
        rgba(4, 4, 4, 0) 40%,
        rgba(5, 5, 5, 0.85) 85%,
        rgba(5, 5, 5, 0.9) 90%,
        rgba(6, 6, 6, 0.99) 95%,
        #080808
    );
    width: 1440px;
    height: 961px;
}
.file-4-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1441px;
    height: 961px;
    object-fit: cover;
}
.desktop-1-inner {
    position: absolute;
    top: 60px;
    left: 235px;
    border-right: 4px solid #fff;
    box-sizing: border-box;
    width: 4px;
    height: 32px;
}
.turkey {
    margin: 0;
}
.turkey-tourists {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.03em;
    line-height: 115%;
    display: inline-block;
    width: 131px;
    height: 66px;
}
.b {
    position: absolute;
    top: 12px;
    left: 102px;
    font-size: 40px;
    line-height: 0%;
    display: inline-block;
    color: #befc13;
    width: 20px;
    height: 20px;
}
.turkey-tourists-parent {
    position: absolute;
    top: 47px;
    left: 89px;
    width: 131px;
    height: 66px;
    font-size: 24px;
}
.b1 {
    position: absolute;
    top: 420px;
    left: 446px;
    font-size: 40px;
    line-height: 0%;
    display: inline-block;
    color: #befc13;
    width: 20px;
    height: 20px;
}
.home {
    position: absolute;
    top: -11px;
    left: 0px;
    letter-spacing: -0.01em;
}
.toolbar1 {
    width: 47px;
    position: relative;
    height: 20px;
    color: #befc13;
}
.destinations {
    top: -11px;
    left: 0px;
    letter-spacing: -0.01em;
    cursor: pointer;
}
.toolbar2 {
    width: 99px;
    position: relative;
    height: 20px;
}
.toolbar3 {
    width: 89px;
    position: relative;
    height: 20px;
}
.toolbar4 {
    width: 73px;
    position: relative;
    height: 20px;
}
.toolbar5 {
    width: 95px;
    position: relative;
    height: 20px;
}
.toolbar6 {
    width: 136px;
    position: relative;
    height: 20px;
}
.toolbar1-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: drop-shadow(0px 4px 7.7px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    gap: 29px;
}

.group-div {
    position: absolute;
    top: 64px;
    left: 640px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 684px;
    height: 20px;
    font-size: 15px;
    color: #fff;
    font-family: "Inria Serif";
}

a {
    text-decoration: none;
    color: #ffffff; /* اللون الأساسي للنص */
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* جعل رابط "Home" دائمًا باللون الأصفر */
a.home {
    color: #befc13;
}

/* تأثير عند التمرير على أي رابط */
a:hover {
    color: #befc13; /* اللون الخلفي يصبح أصفر */

    border-radius: 5px;
}

.discover-the-beauty-container {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.06em;
    line-height: 138%;
    display: inline-block;
    width: 529px;
    height: 207px;
    filter: blur(2px);
}
.discover-the-beauty-container1 {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.06em;
    line-height: 138%;
    display: inline-block;
    width: 529px;
    height: 207px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.discover-the-beauty-of-turkey-parent {
    position: absolute;
    top: 244px;
    left: 172px;
    width: 529px;
    height: 207px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(30px);
    border-radius: 6px;
    background-color: #befc13;
    width: 116px;
    height: 6px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-color: #befc13;
    width: 116px;
    height: 6px;
}
.rectangle-parent {
    position: absolute;
    top: 469px;
    left: 172px;
    width: 116px;
    height: 6px;
}
.mouse-1-icon {
    position: absolute;
    top: 32px;
    left: 75px;
    width: 36px;
    height: 36px;
    object-fit: cover;
}
.right-arrow-1-icon {
    position: absolute;
    top: 74px;
    left: 81px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.discover-more {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 138%;
    display: inline-block;
    width: 187px;
    height: 27px;
}
.mouse-1-parent {
    position: absolute;
    top: 863px;
    left: 626px;
    width: 187px;
    height: 98px;
    text-align: center;
    font-size: 16px;
    color: #befc13;
}
.top-restaurants {
    position: absolute;
    top: 0px;
    left: 30px;
    letter-spacing: 0.02em;
    line-height: 138%;
    display: inline-block;
    width: 558px;
    height: 76px;
}
.group-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(72, 72, 72, 0.25);
    border-radius: 45px;
    background-color: #000;
}
.frame-icon {
    position: absolute;
    height: 74.85%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 25.15%;
    left: 0%;
    border-radius: 45px 45px 0px 0px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.rectangle-group {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.iskender-kebab {
    position: absolute;
    height: 8.99%;
    width: 63.75%;
    top: 77.53%;
    left: 5.25%;
    font-size: 30px;
    letter-spacing: -0.01em;
    display: inline-block;
    color: #fff;
}
.bursa {
    position: absolute;
    height: 6.52%;
    width: 39.5%;
    top: 89.44%;
    left: 10%;
    letter-spacing: -0.01em;
    display: inline-block;
}
.lunchdinner {
    position: absolute;
    height: 6.52%;
    width: 44%;
    top: 89.44%;
    left: 49.25%;
    letter-spacing: -0.01em;
    display: inline-block;
}
.b2 {
    position: absolute;
    height: 1.35%;
    width: 2%;
    top: 82.25%;
    left: 6.25%;
    font-size: 50px;
    letter-spacing: -0.01em;
    display: inline-block;
}
.b3 {
    position: absolute;
    height: 1.35%;
    width: 2%;
    top: 82.25%;
    left: 45.25%;
    font-size: 50px;
    letter-spacing: -0.01em;
    display: inline-block;
}
.like-icon {
    position: absolute;
    height: 10.43%;
    width: 11.6%;
    top: 6.52%;
    right: 8.15%;
    bottom: 83.06%;
    left: 80.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.meal11 {
    width: 400px;
    position: relative;
    height: 445px;
    flex-shrink: 0;
}
.meal11-parent {
    width: 1288px;
    height: 437px;
    overflow-x: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.frame-wrapper {
    position: absolute;
    top: 117px;
    left: calc(50% - 644px);
    width: 1288px;
    height: 437px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: #befc13;
    font-family: "Inria Serif";
}
.group-child10 {
    position: absolute;
    top: 7px;
    right: 0px;
    filter: blur(10px);
    border-radius: 14px;
    background-color: rgba(187, 255, 0, 0.8);
    width: 231px;
    height: 57px;
}
.group-child11 {
    position: absolute;
    top: 7px;
    right: 0px;
    border-radius: 14px;
    background-color: rgba(187, 255, 0, 0.8);
    width: 231px;
    height: 57px;
}
.see-all {
    position: absolute;
    top: 0px;
    left: 5px;
    letter-spacing: -0.01em;
    display: inline-block;
    width: 221px;
    height: 77px;
}
.rectangle-parent5 {
    position: absolute;
    top: 17px;
    right: 36px;
    width: 231px;
    height: 77px;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
}
.top-restaurants-parent {
    position: absolute;
    top: 2772px;
    left: 76px;
    width: 1288px;
    height: 554px;
}
.paragliding-in-ldeniz {
    position: absolute;
    height: 8.99%;
    width: 86.75%;
    top: 77.53%;
    left: 5.25%;
    font-size: 30px;
    letter-spacing: -0.01em;
    display: inline-block;
    color: #fff;
}
.fethiye {
    position: absolute;
    height: 6.52%;
    width: 31.25%;
    top: 89.44%;
    left: 10%;
    letter-spacing: -0.01em;
    display: inline-block;
}
.paragliding {
    position: absolute;
    height: 6.52%;
    width: 35.75%;
    top: 89.44%;
    left: 47.25%;
    letter-spacing: -0.01em;
    display: inline-block;
}
.b15 {
    position: absolute;
    height: 1.35%;
    width: 2%;
    top: 82.25%;
    left: 43.25%;
    font-size: 50px;
    letter-spacing: -0.01em;
    display: inline-block;
}
.att30-parent {
    position: absolute;
    top: 110px;
    left: 0px;
    width: 1288px;
    height: 437px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 20px;
    color: #befc13;
    font-family: "Inria Serif";
}
.rectangle-parent13 {
    position: absolute;
    top: 14px;
    right: 36px;
    width: 231px;
    height: 77px;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
}
.top-activities-parent {
    position: absolute;
    top: 2138px;
    left: 76px;
    width: 1288px;
    height: 547px;
}
.top-attractions {
    position: absolute;
    top: 0px;
    left: 31px;
    letter-spacing: 0.02em;
    line-height: 138%;
    display: inline-block;
    width: 558px;
    height: 76px;
}
.rectangle-parent14 {
    position: absolute;
    top: 8px;
    right: 40px;
    width: 231px;
    height: 77px;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
}
.icon {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 45px 45px 0px 0px;
    width: 400px;
    height: 333px;
    object-fit: cover;
}
.like-icon14 {
    position: absolute;
    height: 13.93%;
    width: 11.6%;
    top: 8.71%;
    right: 8.15%;
    bottom: 77.36%;
    left: 80.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.parent {
    position: absolute;
    height: 74.85%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 25.15%;
    left: 0%;
    border-radius: 45px 45px 0px 0px;
    overflow: hidden;
}
.icon2 {
    position: absolute;
    top: -4px;
    left: -28px;
    width: 456px;
    height: 342px;
    object-fit: cover;
}
.min-1-icon {
    position: absolute;
    top: 0px;
    left: -74px;
    width: 622px;
    height: 415px;
    object-fit: cover;
}
.x1080-38-icon {
    position: absolute;
    top: 0px;
    left: -74px;
    width: 499px;
    height: 333px;
    object-fit: cover;
}
.att10-parent {
    position: absolute;
    top: 113px;
    left: calc(50% - 644px);
    width: 100%;
    height: 485px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 20px;
    color: #befc13;
    font-family: "Inria Serif";
}
.top-attractions-parent {
    position: absolute;
    top: 1520px;
    left: 75px;
    width: 1288px;
    height: 550px;
}
.top-destinations {
    position: absolute;
    top: 0px;
    left: 26px;
    letter-spacing: 0.02em;
    line-height: 138%;
    display: inline-block;
    width: 558px;
    height: 76px;
}
.component-4-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 317px;
    height: 280px;
    object-fit: cover;
}
.istanbul3 {
    position: absolute;
    top: 222px;
    left: 22px;
    letter-spacing: -0.01em;
    display: inline-block;
    width: 295px;
    height: 49px;
}
.component-4 {
    width: 317px;
    position: relative;
    border-radius: 16px;
    height: 280px;
    overflow: hidden;
    flex-shrink: 0;
}
.component-4-parent {
    position: absolute;
    top: 100px;
    left: calc(50% - 664px);
    width: 1328px;
    height: 280px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.99);
    font-family: "Inria Serif";
}
.rectangle-parent24 {
    position: absolute;
    top: 8px;
    right: 75px;
    width: 231px;
    height: 77px;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
}
.top-destinations-parent {
    position: absolute;
    top: 1033px;
    left: 70px;
    width: 1328px;
    height: 380px;
}
.destinations-wrapper {
    position: absolute;
    top: 33px;
    left: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.attractions-wrapper {
    position: absolute;
    top: 76px;
    left: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.activities-wrapper {
    position: absolute;
    top: 119px;
    left: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.main-pages {
    position: absolute;
    top: 0px;
    left: 10px;
    letter-spacing: 0.02em;
    line-height: 138%;
    display: inline-block;
    color: #befc13;
    width: 221px;
    height: 33px;
}

.frame-parent {
    position: absolute;
    top: 0px;
    left: 531px;
    width: 231px;
    height: 167px;
}
.profile {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 138%;
}
.frame-group {
    position: absolute;
    top: 0px;
    left: 812px;
    width: 231px;
    height: 167px;
}
.frame-container {
    position: absolute;
    top: 0px;
    left: 1072px;
    width: 231px;
    height: 124px;
}
.group-child44 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 7.2px;

    border: 1.2px solid #bbff00;
    box-sizing: border-box;
    width: 343.2px;
    height: 41.4px;
}
.group-child45 {
    position: absolute;
    top: 0px;
    left: 246px;
    border-radius: 7.2px;
    background-color: rgba(190, 252, 19, 0.8);
    border: 1.2px solid #befc13;
    box-sizing: border-box;
    width: 97.2px;
    height: 41.4px;
}
.subscribe {
    position: absolute;
    top: calc(50% - 8.7px);
    left: calc(50% + 78px);
    letter-spacing: 0.02em;
    line-height: 138%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 16.8px;
}
.rectangle-parent25 {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 343.2px;
    height: 41.4px;
    text-align: center;
    color: #000;
}
.the-latest-updates {
    color: #fff;
}
.get-the-latest-container1 {
    width: 100%;
}
.get-the-latest-container {
    position: absolute;
    top: 24px;
    left: 5px;
    font-size: 11px;
    letter-spacing: 0.02em;
    line-height: 138%;
    display: flex;
    align-items: center;
    width: 342px;
    height: 25px;
}
.newsletter-txt {
    line-break: anywhere;
    width: 100%;
}
.newsletter {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 138%;
    display: flex;
    align-items: center;
    width: 342px;
    height: 25px;
}
.group-container {
    position: absolute;
    top: 106px;
    left: 0px;
    width: 347px;
    height: 91.4px;
    font-size: 12px;
    color: #befc13;
}
.turkey-tourists-group {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 131px;
    height: 66px;
    font-size: 24px;
}
.copyright-2024 {
    position: absolute;
    top: 209px;
    left: 540px;
    font-size: 11px;
    letter-spacing: 0.02em;
    line-height: 138%;
    color: #befc13;
    text-align: center;
}
.write-your-email {
    position: absolute;
    top: calc(50% + 58px);
    left: calc(50% - 638.9px);
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 138%;
    display: flex;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 218.4px;
    height: 16.8px;
}
.group-parent {
    position: absolute;
    top: 3489px;
    left: 69px;
    width: 1303px;
    height: 224px;
    font-size: 20px;
}
.f1v4byj09dqb1-icon {
    position: absolute;
    top: 45px;
    left: 1361px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    object-fit: cover;
    cursor: pointer;
}
.component-28-child {
    position: absolute;
    height: 100%;
    width: 15.69%;
    top: 0%;
    right: 84.31%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.line-icon {
    position: absolute;
    width: 0.47%;
    top: 100%;
    right: 99.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 0px;
}
.search {
    position: absolute;
    height: 81.63%;
    width: 100%;
    top: 0%;
    left: 0%;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
}
.vector-parent {
    position: absolute;
    height: 76.56%;
    width: 52.45%;
    top: 0%;
    right: 25.98%;
    bottom: 23.44%;
    left: 21.57%;
}
.component-28 {
    position: absolute;
    top: 64px;
    left: 277px;
    width: 204px;
    height: 32px;
    font-size: 1px;
    color: rgba(255, 255, 255, 0);
    font-family: "Inria Sans";
}
.desktop-1 {
    width: 100%;
    position: relative;
    background-color: #020202;
    height: 3733px;
    overflow: hidden;
    text-align: left;
    font-size: 50px;
    color: #fff;
    font-family: "Inknut Antiqua";
}

/* تنسيق عام */
.component-4-parent {
    gap: 20px;
    justify-content: center;
}

.component-4 {
    text-align: center;

    width: 317px;
}

.component-4-child {
    height: 280px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.component-4:hover .component-4-child {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/* تغيير لون النص إلى الأصفر عند التمرير */
.component-4:hover .istanbul3 {
    color: #befc13; /* تغيير اللون إلى الأصفر */
}

/* تنسيق النص داخل الصورة */
.istanbul3 {
    position: absolute;
    bottom: 10px;
    left: 30%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0); /* اللون الافتراضي للنص */
    transition: color 0.3s ease; /* انتقال ناعم لتغيير اللون */
}
::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none; /* Internet Explorer */
    scrollbar-width: none; /* Firefox */
}

.frame-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.meal11 {
    position: relative;
    width: 400px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rectangle-group {
    position: relative;
    width: 100%;
    height: 445px;
    overflow: hidden;
    border-radius: 10px;
}

.meal11:hover {
    transform: scale(1.05);

    object-fit: cover;
}
.meal11:hover .group-inner {
    background-color: #002002;
}
.like-icon {
    cursor: pointer;
    cursor: pointer;
    width: 45px;
    height: 45px;
}
.see-all {
    width: 221px;
    left: -10px;
    top: -10px;
    position: relative;
    font-size: 28px;
    letter-spacing: -0.01em;
    display: inline-block;
    font-family: "Inknut Antiqua";
    color: #fff;
    text-align: center;
    height: 77px;
}

.rectangle-div {
    width: 100%;
    position: relative;
    border-radius: 14px;
    background-color: rgba(187, 255, 0, 0.8);
    height: 57px;
}
.see-all:hover {
    color: #fff;
}
.f1v4byj09dqb1-icon:hover {
    cursor: pointer; /* تغيير شكل المؤشر عند المرور على الصورة */
    opacity: 0.8; /* جعل الصورة أكثر شفافية عند المرور */
}

.att10-parent {
    overflow: auto; /* or scroll if you need it */
    scrollbar-width: none; /* Ensure no space is reserved in Firefox */
    -ms-overflow-style: none; /* Ensure no space in IE */
}
